{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- SECTION - START -->

<section class="page-about">

    <h2>Qui sommes nous ?</h2>

    <article>

        <h2>About Audi :</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et auctor nisl, laoreet facilisis magna.
            Nullam cursus lacinia lobortis. Cras imperdiet varius nulla, ut semper neque scelerisque sed. Donec non
            mollis enim. Aliquam ac ante est. Maecenas sit amet est eu mauris hendrerit porta vel et elit. Curabitu
            pharetra tortor sit amet suscipit auctor. Nulla velit lorem, dapibus ut nisl a, rhoncus volutpat tortor.
            Etiam malesuada imperdiet pulvinar. Cras rhoncus dapibus risus, sit amet faucibus mauris gravida et.
            Suspendisse tempus ipsum sit amet pulvinar aliquet. Sed molestie dignissim tortor, id vehicula ex sagittis vitae.

            <br><br>

            Nam dapibus purus sit amet neque mollis cursus. Nulla facilisi. Fusce eu nisl maximus, semper dui id,
            euismod quam. Aliquam luctus consectetur est, sed fringilla diam tincidunt quis. In maximus dictum lorem.
            Suspendisse a metus vitae quam sollicitudin fringilla ut in nibh. Cras posuere nisi eget sagittis semper.
            Donec sit amet mi orci. Aliquam imperdiet lobortis neque. Morbi in tellus in sem cursus vulputate vitae
            quis mauris. Etiam ac sapien sollicitudin, venenatis lacus scelerisque, porta metus. Maecenas mollis justo vel aliquam posuere.</p>

    </article>

</section>

<!-- SECTION - END -->
{% endblock %}