{% extends 'base.html.twig' %}

{% block title %}Blog Audi{% endblock %}
<header>

    <figure class="logo">
        <img src="assets/img/logo.svg" alt="logo d'Audi">
        <figcaption>
            BLOG
        </figcaption>
    </figure>

    <nav>

        <ul>

            <li class="active"><a href="index.html">Accueil</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">À propos</a></li>
            <li><a href="login.html.twig">Connexion</a></li>
            <li><a href="register.html.twig">Inscription</a></li>

        </ul>

    </nav>

</header>
{% block body %}

{% endblock %}
