{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <!-- SECTION - START -->

    <section class="page-form">

        <h2>Contactez nous</h2>

        <form action="#" method="POST">

            <fieldset>
                <legend><label for="first-name">Nom :</label></legend>
                <input type="text" name="name" id="first-name" placeholder="Nom" required />
            </fieldset>

            <fieldset>
                <legend><label for="last-name">Prénom :</label></legend>
                <input type="text" name="lastname" id="last-name" placeholder="Prenom" required />
            </fieldset>

            <fieldset>
                <legend><label for="email">Email :</label></legend>
                <input type="email" name="email" id="email" placeholder="E-mail" required />
            </fieldset>

            <fieldset>
                <legend><label for="message">Message :</label></legend>
                <textarea name="message" id="message" placeholder="Message" required></textarea>
            </fieldset>

            <button type="submit">Envoyer</button>

        </form>

    </section>

    <!-- SECTION - END -->
{% endblock %}
