{% extends 'base.html.twig' %}

{% block title %}Blog Audi{% endblock %}
<header>

    <figure class="logo">
        <img src="{{ asset('assets/img/logo.svg') }}" alt="logo d'Audi">
        <figcaption>
            BLOG
        </figcaption>
    </figure>

    <nav>

        <ul>

            <li class="active"><a href="{{ path('app_index') }}">Accueil</a></li>
            <li><a href="static_page/contact.html.twig">Contact</a></li>
            <li><a href="static_page/about.html.twig">À propos</a></li>
            <li><a href="static_page/login.html.twig">Connexion</a></li>
            <li><a href="static_page/register.html.twig">Inscription</a></li>

        </ul>

    </nav>

</header>
{% block body %}

{% endblock %}
