{% extends 'base.html.twig' %}


{% block title %}Edition d'article{% endblock %}

{% block body %}
    <!-- SECTION - START -->

    <section class="page-form">

        <h2>Edition d'article</h2>

        {{ include('form/general.html.twig', {action: 'Modifier', class: 'btn btn-primary'}) }}

    </section>

    <!-- SECTION - END -->
{% endblock %}