{% extends 'base.html.twig' %}


{% block title %}Nouvel article{% endblock %}

{% block body %}
<!-- SECTION - START -->

<section class="page-form">

    <h2>Nouvel article</h2>

    {{ include('form/general.html.twig', {action: 'Créer', class: 'btn btn-primary'}) }}

</section>

<!-- SECTION - END -->
{% endblock %}