{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}
    <!-- SECTION - START -->

    <section>

        <h2>Nos gammes</h2>

        {% for article in articles %}
        <article>

            <a href="article.html">

                <figure>

                    <div class="image">

                        <img src="{{ article.imageUrl }}" title="{{ article.title }}" alt="{{ article.title }}">

                    </div>

                    <figcaption>

                        <h2>{{ article.title }}</h2>

                    </figcaption>

                </figure>

            </a>

        </article>

        {% endfor %}
        <!-- PAGINATION - START -->

        <nav class="pagination">

            <ul>
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

        </nav>

        <!-- PAGINATION - END -->

    </section>

    <!-- SECTION - END -->
{% endblock %}